<footer class="page-footer grey darken-4">
    <div class="container center-align">
        <div class="row">
            
            <div class="row">
            <ul>
                <div class='col l3 m3 s12'><li><a class="grey-text text-lighten-3" href="#!">About us</a></li></div>
                <div class='col l3 m3 s12'><li><a class="grey-text text-lighten-3" href="#!">Help Guide</a></li></div>
                <div class='col l3 m3 s12'><li><a class="grey-text text-lighten-3" href="#!">Suggestion Box</a></li></div>
                <div class='col l3 m3 s12'><li><a class="grey-text text-lighten-3" href="#!">Advertisements</a></li></div>
            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright container">
        <p><center>Made with <span style="font-size:150%;color:red;">&hearts;</span> by Abilash.</center></p>
    </div>
</footer>
{{!-- Made with &hearts; by Abilash. --}}


