<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#!" class="brand-logo"><h4>forecaster</h4></a>
        </div>
    </nav>
</div>
<div class='container white'>
    <nav>
        <div class="nav-wrapper grey lighten-2">
        <form>
            <div class="input-field">
            <input id="input_location" type="search" placeholder="Add Location">
            <label class="label-icon" for="input_location"><i class="material-icons">search</i></label>
            {{!-- <i class="material-icons">close</i> --}}
            <i id='add' class="material-icons" onclick="fetchdata(false)">add</i>
            {{!-- <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a> --}}
            </div>
        </form>
        </div>
  </nav>
</div>
